
<p>
  <strong>Content:</strong>
  <%= @connect.content %>
</p>

<% if @connect[:imagetext] != nil %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @connect.imagetext.url %>
  </p>
<% end %>

<%= link_to 'Edit', edit_connect_path(@connect) %> |
<%= link_to 'Back', connects_path %>
