
.form {
    border-collapse: separate;
    background-color: white;
    padding: 10px;
    max-width: 500px;
    border: solid gray;
    border-radius: 15px;
  }

form {
    display: flex;
    justify-content: center;
    text-align: center;
}

div.form {
    width: 500px;
    margin: 10px;
    padding: 10px;
}

label {
    display: flex;
    text-align: left;
}

input {
    padding: 10px;
}